@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import "./styles/_colors.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background: $smoke;
    margin: 2rem;
}
